<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.amazon.testclasses.AmazonTestNG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logInToAmazon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchProductAndSelect</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addKeyboardToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addLaptopToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>payment</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
