<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:18:17</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AmazonTestNG.beforeTest()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:18:33</td>   <td>16117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestNG.logInToAmazon()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">logInToAmazon</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:18:41</td>   <td>24186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTestNG.afterMethod()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:18:45</td>   <td>28308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestNG.searchProductAndSelect()[pri:1, instance:com.amazon.testclasses.AmazonTestNG@e320068]">searchProductAndSelect</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:19:29</td>   <td>71892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTestNG.afterMethod()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:19:38</td>   <td>81038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestNG.addLaptopToCart()[pri:2, instance:com.amazon.testclasses.AmazonTestNG@e320068]">addLaptopToCart</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:19:53</td>   <td>96679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTestNG.afterMethod()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:19:54</td>   <td>97132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestNG.addKeyboardToCart()[pri:3, instance:com.amazon.testclasses.AmazonTestNG@e320068]">addKeyboardToCart</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:20:28</td>   <td>131437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTestNG.afterMethod()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:20:28</td>   <td>131772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestNG.payment()[pri:4, instance:com.amazon.testclasses.AmazonTestNG@e320068]">payment</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:20:34</td>   <td>136868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTestNG.afterMethod()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/23 22:20:34</td>   <td>137250</td> <td>&nbsp;</td><td title="&lt;&lt;AmazonTestNG.afterTest()[pri:0, instance:com.amazon.testclasses.AmazonTestNG@e320068]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
</table>
